.wrapperBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
  gap: 450px;
}
