.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  border-radius: 200px;
  background-color: var(--button);
  letter-spacing: -0.01em;
  color: var(--white);
  transition: color 250ms linear;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--button-hover);
}
