.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--gray-light);
  padding-top: 24px;
  gap: 12px;
}

.item {
  text-align: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: calc((100% - 12px * 2) / 3);
  letter-spacing: -0.01em;
  color: var(--main);
  cursor: pointer;
  transition: color 250ms linear;
}

.item:hover,
.item:focus,
.itemMatch {
  border-color: var(--button);
}

.svg {
  fill: var(--main);
  width: 32px;
  height: 32px;
}
