.wrapperNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.link {
  color: var(--main);
  transition: color 250ms linear;
}
.link:hover,
.link:focus {
  color: var(--button-hover);
}

.isActive {
  color: var(--button-hover);
}
