.wrapImg {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  overflow: hidden;
  flex-shrink: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.iconHeart {
  width: 24px;
  height: 24px;
  fill: var(--main);
  transition: color 250ms linear;
}

.iconHeart:hover,
.iconHeart:focus,
.iconHeart:active {
  fill: var(--button);
}

.wrapPriceIcon {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.textDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 525px;
  margin-bottom: 24px;
}
