.wrapper {
  padding-top: 44px;
  display: flex;
  gap: 40px;

  border-top: 1px solid var(--gray-light);
}

.wrapFeatures {
  display: flex;
  flex-direction: column;
  gap: 76px;
  width: 631px;
  border-radius: 10px;
  padding: 44px 52px;
  flex-shrink: 0;
  background: var(--inputs);
}
.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 0;
  padding-bottom: 16px;
  border: none;
}

.td {
  text-align: right;
}
