.wrapNotice {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.wrapReting {
  display: flex;
  gap: 4px;
  align-items: center;
}

.textRew {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main);
}

.textLocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.iconMap {
  width: 16px;
  height: 16px;
}