.wrapperHomePage {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0 64px;
  background: rgba(0, 0, 0, 0.2) url("../../images/home-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
  .wrapperHomePage {
    background: rgba(0, 0, 0, 0.2), url("../../images/home-picture@2x.png");
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}
